<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    {{ message }}
    hello, {{ name }}

    <form action="/change-name" method="post">
      <input type="text" name="name" value="{{name}}" />
      <input type="submit" />
    </form>


    <img src="http://localhost:8080/{{image_path}}" alt="">

    {{#if image}}
      {{!-- TODO not working alias for container --}}
      {{!-- <img src="{{image}}" alt=""> --}}
      <img src="http://localhost:8080/{{image_path}}" alt="">
    {{else}}
      No image
    {{/if}}
  </body>
</html>
